/**************************
    HEADER CLASSIC
**************************/
header.site-header {
  position: relative;
  z-index: 1021;
  background: #fff;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05); }
  header.site-header .logo-wrapper {
    text-align: left; }
    header.site-header .logo-wrapper img {
      max-height: 50px; }
  header.site-header .topbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding: 7px 0; }
    header.site-header .topbar .topbar-link ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      list-style: none; }
      header.site-header .topbar .topbar-link ul li {
        font-size: 13px;
        padding-right: 15px;
        line-height: 30px; }
        header.site-header .topbar .topbar-link ul li a {
          color: #323232;
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out; }
          header.site-header .topbar .topbar-link ul li a:hover {
            color: #04d39f; }
          header.site-header .topbar .topbar-link ul li a:first-child {
            padding-left: 0; }
        header.site-header .topbar .topbar-link ul li i {
          padding-right: 5px;
          color: inherit; }
    header.site-header .topbar .topbar-link .topbar-social_profiles {
      padding-left: 0; }
      header.site-header .topbar .topbar-link .topbar-social_profiles li {
        padding: 0;
        text-align: center; }
    header.site-header .topbar .topbar-right .topbar-link {
      display: inline-block;
      vertical-align: top; }
      header.site-header .topbar .topbar-right .topbar-link > ul > li {
        padding-right: 0;
        padding-left: 12px; }
        header.site-header .topbar .topbar-right .topbar-link > ul > li a {
          color: #323232; }
          header.site-header .topbar .topbar-right .topbar-link > ul > li a:hover {
            color: #04d39f; }
        header.site-header .topbar .topbar-right .topbar-link > ul > li .top-menu li:first-child {
          padding-left: 0; }
        header.site-header .topbar .topbar-right .topbar-link > ul > li .topbar-social_profiles {
          padding-left: 0; }
          header.site-header .topbar .topbar-right .topbar-link > ul > li .topbar-social_profiles li:first-child {
            padding-right: 0; }
          header.site-header .topbar .topbar-right .topbar-link > ul > li .topbar-social_profiles li a {
            padding: 10px 6px; }
            header.site-header .topbar .topbar-right .topbar-link > ul > li .topbar-social_profiles li a i {
              padding-right: 0; }
    header.site-header .topbar .dropdown-menu {
      min-width: 6.5rem;
      overflow-y: auto;
      padding: 0;
      border-radius: 0;
      top: 12px !important; }
      header.site-header .topbar .dropdown-menu .dropdown-item {
        padding: 0 15px;
        color: #969696;
        font-size: 13px;
        line-height: 32px;
        background: #fff; }
        header.site-header .topbar .dropdown-menu .dropdown-item:focus, header.site-header .topbar .dropdown-menu .dropdown-item:hover {
          background-color: #04d39f;
          color: #fff; }
  header.site-header .dropdown-toggle:after {
    content: "";
    margin-left: 12px;
    border-top: .35em solid;
    border-left: .35em solid transparent;
    border-right: .35em solid transparent;
    vertical-align: middle; }
  header.site-header .logo-wrapper {
    padding: 20px 0; }
  header.site-header .header-style-default .ciya-tools {
    margin-top: 0;
    margin-left: 15px;
    display: inline-block; }
  header.site-header.header-above-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1021;
    background: 0 0;
    width: 100%;
    box-shadow: none; }
  header.site-header .ciya-tools {
    float: right;
    margin-left: 15px; }
  header.site-header .ciya-tools-actions {
    padding: 0;
    margin: 0; }
    header.site-header .ciya-tools-actions > li {
      list-style-type: none;
      display: inline-block;
      width: 38px;
      height: 45px;
      padding: 0;
      line-height: 45px;
      text-align: center; }
      header.site-header .ciya-tools-actions > li .glyph-icon {
        font-size: 20px; }
      header.site-header .ciya-tools-actions > li i {
        font-size: 18px;
        margin-right: 0;
        color: #323232;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out; }
      header.site-header .ciya-tools-actions > li:hover i, header.site-header .ciya-tools-actions > li:focus i {
        color: #04d39f; }
  header.site-header .ciya-tools-cart .cart-link,
  header.site-header .ciya-tools-cart a,
  header.site-header .ciya-tools-wishlist .cart-link,
  header.site-header .ciya-tools-wishlist a {
    position: relative; }
    header.site-header .ciya-tools-cart .cart-link .count,
    header.site-header .ciya-tools-cart .cart-link .ciyashop-wishlist-count,
    header.site-header .ciya-tools-cart a .count,
    header.site-header .ciya-tools-cart a .ciyashop-wishlist-count,
    header.site-header .ciya-tools-wishlist .cart-link .count,
    header.site-header .ciya-tools-wishlist .cart-link .ciyashop-wishlist-count,
    header.site-header .ciya-tools-wishlist a .count,
    header.site-header .ciya-tools-wishlist a .ciyashop-wishlist-count {
      font-weight: 500;
      font-style: normal;
      font-size: 11px;
      position: absolute;
      top: 0;
      right: 50%;
      width: 16px;
      height: 16px;
      line-height: 16px;
      text-align: center;
      margin-top: -12px;
      margin-right: -17px;
      color: #fff;
      background: #04d39f;
      border-radius: 50%; }
  header.site-header .header-nav {
    background: #04d39f; }

.mega-menu .menu-links > li:hover {
  background-color: transparent !important; }
  .mega-menu .menu-links > li:hover > a {
    color: #04d39f; }

.mega-menu .menu-links > li.current-menu-item a {
  color: #04d39f; }

.mega-menu .menu-links > li > a {
  border: 0 solid #fff;
  outline: none;
  padding: 15px 11px;
  line-height: 30px;
  font-weight: 400;
  vertical-align: baseline;
  width: auto;
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none; }
  .mega-menu .menu-links > li > a i {
    padding-left: 5px !important; }

.mega-menu .menu-links .drop-down-multilevel {
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 10px 25px -3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 10px 25px -3px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 10px 25px -3px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 10px 25px -3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 25px -3px rgba(0, 0, 0, 0.1); }
  .mega-menu .menu-links .drop-down-multilevel li:hover {
    background-color: transparent;
    color: #04d39f; }
    .mega-menu .menu-links .drop-down-multilevel li:hover > a {
      color: #04d39f; }
      .mega-menu .menu-links .drop-down-multilevel li:hover > a i {
        color: #04d39f !important; }
  .mega-menu .menu-links .drop-down-multilevel a {
    background: rgba(255, 255, 255, 0);
    color: #969696;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 15px 8px 15px;
    line-height: 22px;
    min-height: auto; }

.mega-menu .menu-links .drop-down {
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 10px 25px -3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 10px 25px -3px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 10px 25px -3px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 10px 25px -3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 25px -3px rgba(0, 0, 0, 0.1); }
  .mega-menu .menu-links .drop-down h4 {
    color: #323232;
    margin-bottom: 15px; }
  .mega-menu .menu-links .drop-down a {
    color: #969696;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    padding: 3px 0 3px 0;
    line-height: 22px;
    min-height: auto;
    color: #969696; }
    .mega-menu .menu-links .drop-down a:hover {
      color: #04d39f; }
  .mega-menu .menu-links .drop-down .grid-col-2 {
    width: 20%; }

.mega-menu > section.menu-list-items {
  background-color: transparent; }

.search_form-wrap {
  float: right; }
  .search_form-wrap .select2-container {
    width: 225px !important; }
  .search_form-wrap .search_form-inner input.form-control {
    background: 0 0;
    border: 1px solid rgba(0, 0, 0, 0.07);
    width: 450px;
    padding-right: 50px;
    font-size: 15px;
    box-shadow: none;
    height: 45px;
    min-width: 220px;
    padding: 0 25px;
    border-radius: 0 50px 50px 0; }
  .search_form-wrap .search_form-search-button {
    position: absolute;
    top: 0;
    width: 45px;
    height: 45px;
    right: 5px; }
    .search_form-wrap .search_form-search-button:before {
      content: "\f002";
      right: 0;
      position: relative;
      height: 45px;
      width: 45px;
      display: inline-block;
      text-align: center;
      top: 0;
      font-size: 16px;
      line-height: 43px;
      font-family: FontAwesome;
      color: #04d39f;
      transition: all .5s ease-out 0s; }
    .search_form-wrap .search_form-search-button input[type=submit] {
      border: none;
      height: 45px;
      font-size: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 45px;
      z-index: 9;
      transition: none;
      background: 0 0; }
  .search_form-wrap .search_form-input-wrap {
    position: relative; }
  .search_form-wrap .search-form {
    display: flex; }
    .search_form-wrap .search-form .screen-reader-text {
      display: none; }
    .search_form-wrap .search-form .search_form-search-field {
      position: relative;
      vertical-align: top; }

.select2-container--default .select2-dropdown {
  border: none; }

.select2-container--default .select2-results > .select2-results__options {
  max-height: 400px;
  overflow: auto; }

.select2-container--default .select2-selection--single {
  border-radius: 50px 0 0 50px;
  height: 45px;
  border: none;
  background: rgba(0, 0, 0, 0.04);
  padding-left: 15px; }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 45px;
    color: #969696; }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 41px;
    width: 30px; }

.select2-container--default .select2-results__option {
  padding: 5px 15px;
  line-height: 24px; }
  .select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #04d39f;
    color: #fff; }
  .select2-container--default .select2-results__option:hover {
    background-color: #04d39f;
    color: #fff; }
  .select2-container--default .select2-results__option.select2-results__option--highlighted {
    background-color: #04d39f;
    color: #fff; }

.select2-search--dropdown {
  display: none; }

/********************************
    header-style-menu-default
********************************/
.header-style-menu-default .topbar .topbar-link ul li:first-child {
  padding-right: 10px; }

.header-style-menu-default .topbar .topbar-link ul li:last-child {
  padding-right: 0; }

/********************************
    Header-style-logo-center
********************************/
.header-style-logo-center .header-search-wrap .search-button-wrap .search-button {
  width: 35px;
  height: 45px;
  line-height: 45px;
  background: 0 0;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #323232;
  display: inline-block;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out; }
  .header-style-logo-center .header-search-wrap .search-button-wrap .search-button:hover {
    color: #04d39f; }

.header-style-logo-center .header-search-wrap .search-button-wrap .btn.focus,
.header-style-logo-center .header-search-wrap .search-button-wrap .btn:focus,
.header-style-logo-center .header-search-wrap .search-button-wrap .btn-primary,
.header-style-logo-center .header-search-wrap .search-button-wrap .btn-primary:focus {
  box-shadow: none; }

.header-style-logo-center .logo-wrapper {
  text-align: center !important; }
  .header-style-logo-center .logo-wrapper img {
    max-height: 45px; }

.header-style-logo-center .primary-nav-wrapper {
  vertical-align: middle;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block; }

/********************************
    Header-style-menu-center
********************************/
.header-style-menu-center .container-fluid {
  padding-left: 35px;
  padding-right: 35px; }

.header-style-menu-center .topbar {
  padding: 0 !important; }
  .header-style-menu-center .topbar .topbar-link ul {
    align-items: center; }
  .header-style-menu-center .topbar .topbar-left li.topbar_item {
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    padding: 7px 14px; }
    .header-style-menu-center .topbar .topbar-left li.topbar_item:first-child {
      border: none;
      padding-left: 0; }
      .header-style-menu-center .topbar .topbar-left li.topbar_item:first-child a {
        padding-left: 0; }
    .header-style-menu-center .topbar .topbar-left li.topbar_item:last-child {
      border-right: 1px solid rgba(0, 0, 0, 0.08); }
  .header-style-menu-center .topbar .topbar-right .topbar-link > ul > li .top-menu li {
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    padding: 7px 14px; }
    .header-style-menu-center .topbar .topbar-right .topbar-link > ul > li .top-menu li:first-child {
      padding-left: 14px !important; }
    .header-style-menu-center .topbar .topbar-right .topbar-link > ul > li .top-menu li:last-child {
      border-right: 1px solid rgba(0, 0, 0, 0.08); }

.header-style-menu-center .header-nav-right-wrapper {
  text-align: right; }
  .header-style-menu-center .header-nav-right-wrapper .ciya-tools {
    float: none;
    display: inline-block;
    vertical-align: middle; }

.header-style-menu-center .header-search-wrap {
  display: inline-block;
  vertical-align: middle; }
  .header-style-menu-center .header-search-wrap .search-button-wrap .search-button {
    width: 35px;
    height: 45px;
    line-height: 45px;
    background: 0 0;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #323232;
    display: inline-block;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out; }
    .header-style-menu-center .header-search-wrap .search-button-wrap .search-button:hover {
      color: #04d39f; }
  .header-style-menu-center .header-search-wrap .search-button-wrap .btn.focus,
  .header-style-menu-center .header-search-wrap .search-button-wrap .btn:focus,
  .header-style-menu-center .header-search-wrap .search-button-wrap .btn-primary,
  .header-style-menu-center .header-search-wrap .search-button-wrap .btn-primary:focus {
    box-shadow: none; }
  .header-style-menu-center .header-search-wrap .search-button-wrap span {
    display: none; }

.header-style-menu-center .header-nav {
  background: transparent !important; }

.header-style-menu-center .mega-menu .menu-links > li > a {
  color: #323232; }

.header-style-menu-center .mega-menu .menu-links > li:hover > a, .header-style-menu-center .mega-menu .menu-links > li:focus > a {
  color: #04d39f; }

.header-style-menu-center .primary-nav-wrapper {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  vertical-align: middle; }

.header-style-menu-center .logo-wrapper {
  text-align: center; }
  .header-style-menu-center .logo-wrapper img {
    max-height: 45px; }

.header-style-menu-center .drop-down.grid-col-12 {
  width: 1170px;
  left: 50%;
  margin-left: -585px; }

/********************************
    Header-style-menu-right
********************************/
.header-style-menu-right .container-fluid {
  padding-left: 35px;
  padding-right: 35px; }

.header-style-menu-right .topbar {
  padding: 0 !important; }
  .header-style-menu-right .topbar .topbar-link ul {
    align-items: center; }
  .header-style-menu-right .topbar .topbar-left li.topbar_item {
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    padding: 7px 14px; }
    .header-style-menu-right .topbar .topbar-left li.topbar_item:first-child {
      border: none;
      padding-left: 0; }
      .header-style-menu-right .topbar .topbar-left li.topbar_item:first-child a {
        padding-left: 0; }
    .header-style-menu-right .topbar .topbar-left li.topbar_item:last-child {
      border-right: 1px solid rgba(0, 0, 0, 0.08); }
  .header-style-menu-right .topbar .topbar-right .topbar-link > ul > li .top-menu li {
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    padding: 7px 14px; }
    .header-style-menu-right .topbar .topbar-right .topbar-link > ul > li .top-menu li:first-child {
      padding-left: 14px !important; }
    .header-style-menu-right .topbar .topbar-right .topbar-link > ul > li .top-menu li:last-child {
      border-right: 1px solid rgba(0, 0, 0, 0.08); }

.header-style-menu-right .logo-wrapper {
  text-align: center; }
  .header-style-menu-right .logo-wrapper img {
    max-height: 45px; }

.header-style-menu-right .header-nav {
  background: transparent !important;
  text-align: right; }

.header-style-menu-right .mega-menu .menu-links > li > a {
  color: #323232; }

.header-style-menu-right .primary-nav-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: right; }

.header-style-menu-right .header-search-wrap {
  display: inline-block;
  vertical-align: middle; }
  .header-style-menu-right .header-search-wrap .search-button-wrap .search-button {
    width: 35px;
    height: 45px;
    line-height: 45px;
    background: 0 0;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #323232;
    display: inline-block;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out; }
    .header-style-menu-right .header-search-wrap .search-button-wrap .search-button:hover {
      color: #04d39f; }
  .header-style-menu-right .header-search-wrap .search-button-wrap .btn.focus,
  .header-style-menu-right .header-search-wrap .search-button-wrap .btn:focus,
  .header-style-menu-right .header-search-wrap .search-button-wrap .btn-primary,
  .header-style-menu-right .header-search-wrap .search-button-wrap .btn-primary:focus {
    box-shadow: none; }
  .header-style-menu-right .header-search-wrap .search-button-wrap span {
    display: none; }

.header-style-menu-right .header-nav-right-wrapper {
  text-align: right;
  padding-right: 15px; }
  .header-style-menu-right .header-nav-right-wrapper .ciya-tools {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0; }

/********************************
    Header-style-Topbar-with-Main-Header
********************************/
.header-style-topbar-with-main-header .logo-wrapper {
  text-align: center; }
  .header-style-topbar-with-main-header .logo-wrapper img {
    max-height: 45px; }

.header-style-topbar-with-main-header .header-nav-right-wrapper {
  text-align: right;
  padding-right: 0px; }
  .header-style-topbar-with-main-header .header-nav-right-wrapper .ciya-tools {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0; }

.header-style-topbar-with-main-header .ciya-tools-actions > li i {
  color: #fff !important; }
  .header-style-topbar-with-main-header .ciya-tools-actions > li i:hover:hover {
    color: #323232 !important; }

.header-style-topbar-with-main-header .ciya-tools-cart a .count,
.header-style-topbar-with-main-header .ciya-tools-wishlist a .ciyashop-wishlist-count {
  background: #323232 !important; }

.header-style-topbar-with-main-header .header-search-wrap {
  display: inline-block;
  vertical-align: middle; }
  .header-style-topbar-with-main-header .header-search-wrap .search-button-wrap .search-button {
    width: 35px;
    height: 45px;
    line-height: 45px;
    background: 0 0;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out; }
    .header-style-topbar-with-main-header .header-search-wrap .search-button-wrap .search-button:hover {
      color: #323232; }
  .header-style-topbar-with-main-header .header-search-wrap .search-button-wrap .btn.focus,
  .header-style-topbar-with-main-header .header-search-wrap .search-button-wrap .btn:focus,
  .header-style-topbar-with-main-header .header-search-wrap .search-button-wrap .btn-primary,
  .header-style-topbar-with-main-header .header-search-wrap .search-button-wrap .btn-primary:focus {
    box-shadow: none; }
  .header-style-topbar-with-main-header .header-search-wrap .search-button-wrap span {
    display: none; }

.header-style-topbar-with-main-header .primary-nav-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: left; }

.header-style-topbar-with-main-header .header-main-bg-color-default {
  background-color: #04d39f; }

/********************************
    header-style-right-topbar-main
********************************/
.header-style-right-topbar-main .topbar-bg-color-default {
  background: #04d39f; }

.header-style-right-topbar-main .topbar-link > ul > li a {
  color: #fff !important; }

.header-style-right-topbar-main .topbar {
  padding: 5px 20px !important; }

.header-style-right-topbar-main .logo-wrapper {
  text-align: center; }
  .header-style-right-topbar-main .logo-wrapper img {
    max-height: 45px; }

.header-style-right-topbar-main .header-search-wrap {
  display: inline-block;
  vertical-align: middle; }
  .header-style-right-topbar-main .header-search-wrap .search-button-wrap .search-button {
    width: 35px;
    height: 45px;
    line-height: 45px;
    background: 0 0;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #323232;
    display: inline-block;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out; }
    .header-style-right-topbar-main .header-search-wrap .search-button-wrap .search-button:hover {
      color: #04d39f; }
  .header-style-right-topbar-main .header-search-wrap .search-button-wrap .btn.focus,
  .header-style-right-topbar-main .header-search-wrap .search-button-wrap .btn:focus,
  .header-style-right-topbar-main .header-search-wrap .search-button-wrap .btn-primary,
  .header-style-right-topbar-main .header-search-wrap .search-button-wrap .btn-primary:focus {
    box-shadow: none; }
  .header-style-right-topbar-main .header-search-wrap .search-button-wrap span {
    display: none; }

.header-style-right-topbar-main .header-nav-right-wrapper {
  text-align: right;
  padding-right: 0px; }
  .header-style-right-topbar-main .header-nav-right-wrapper .ciya-tools {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0; }

.header-style-right-topbar-main .header-main-bg-color-default {
  background-color: transparent;
  padding: 5px 15px; }

.header-style-right-topbar-main .header-nav {
  background: transparent !important; }

.header-style-right-topbar-main .mega-menu .menu-links > li > a {
  color: #323232; }

.header-style-right-topbar-main .border-left {
  border-color: #ddd; }

.category-nav-wrapper {
  background: rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  height: 100%;
  z-index: 10;
  overflow: hidden; }
  .category-nav-wrapper .category-nav-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    padding: 16px 22px;
    line-height: 28px;
    cursor: pointer;
    margin-bottom: 0; }
    .category-nav-wrapper .category-nav-title .fa-bars {
      margin-right: 10px; }
    .category-nav-wrapper .category-nav-title .arrow {
      border: 1px solid;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      float: right;
      line-height: 24px; }
  .category-nav-wrapper .category-nav-content {
    margin-top: 10px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s; }
    .category-nav-wrapper .category-nav-content .categories-menu {
      background: #fff;
      padding: 10px 0;
      margin: 0;
      -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
      box-shadow: 0 5px 22px rgba(0, 0, 0, 0.17); }
      .category-nav-wrapper .category-nav-content .categories-menu > li {
        list-style: none;
        position: relative; }
        .category-nav-wrapper .category-nav-content .categories-menu > li > a {
          color: #323232;
          text-transform: capitalize;
          line-height: 24px;
          font-weight: 500;
          padding: 7px 20px;
          display: block;
          position: relative; }
        .category-nav-wrapper .category-nav-content .categories-menu > li:hover > a {
          color: #04d39f; }
  .category-nav-wrapper:hover {
    overflow: visible; }
    .category-nav-wrapper:hover .category-nav-content {
      margin-top: 0;
      opacity: 1;
      visibility: visible; }

.category-nav-content {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  width: 100%;
  min-width: 200px; }

#primary-menu i.hot-label,
#primary-menu i.new-label,
#primary-menu i.popular-label,
#primary-menu i.sale-label {
  background: #ffba03;
  color: #fff;
  font-size: 9px;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  padding: 2px 5px;
  line-height: 16px;
  margin-left: 5px;
  border-radius: 2px;
  position: relative;
  top: -2px; }

/********************************
    footer-default
********************************/
footer.site-footer {
  background: #fff;
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06); }
  footer.site-footer .footer-widgets-wrapper {
    padding: 30px 0 35px; }
  footer.site-footer .logo-wrapper {
    text-align: left; }
    footer.site-footer .logo-wrapper img {
      max-width: 200px; }
  footer.site-footer .footer-title {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    color: #323232;
    margin-bottom: 25px; }
  footer.site-footer .widget {
    margin-top: 30px; }
    footer.site-footer .widget ul {
      margin-bottom: 0;
      padding-left: 0; }
      footer.site-footer .widget ul li {
        margin: 5px 0;
        line-height: 30px;
        list-style-type: none; }
        footer.site-footer .widget ul li a {
          color: #969696;
          display: inline-block;
          line-height: 24px;
          font-weight: 400;
          text-transform: capitalize; }
        footer.site-footer .widget ul li:hover a {
          color: #04d39f; }
  footer.site-footer .pgs-social-profiles .social-profiles ul {
    display: inline-block;
    margin-bottom: 0;
    padding-left: 0; }
    footer.site-footer .pgs-social-profiles .social-profiles ul li {
      display: inline-block;
      margin: 0;
      margin-right: 7px;
      margin-bottom: 7px;
      float: left;
      list-style-type: none; }
      footer.site-footer .pgs-social-profiles .social-profiles ul li a i {
        border: 1px solid rgba(173, 173, 173, 0.5);
        font-size: 13px;
        width: 36px;
        height: 36px;
        line-height: 36px;
        border-radius: 3px;
        vertical-align: top;
        text-align: center;
        color: #969696;
        -webkit-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
      footer.site-footer .pgs-social-profiles .social-profiles ul li a:hover i {
        background-color: #04d39f;
        border-color: #04d39f;
        color: #fff; }
  footer.site-footer .pgs-social-profiles .social-profiles-shape-round .social-profiles ul li a i {
    border-radius: 50px; }
  footer.site-footer .footer-nav-menu .footer-title {
    margin-bottom: 25px;
    text-transform: capitalize; }
  footer.site-footer .footer-nav-menu ul {
    padding-left: 0;
    margin-bottom: 0; }
    footer.site-footer .footer-nav-menu ul li {
      list-style-type: none; }
      footer.site-footer .footer-nav-menu ul li a {
        position: relative;
        padding: 0;
        padding-left: 15px;
        -webkit-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
        footer.site-footer .footer-nav-menu ul li a:after, footer.site-footer .footer-nav-menu ul li a:before {
          content: "\f105";
          position: absolute;
          left: 0;
          top: 0;
          font-family: FontAwesome;
          opacity: 1;
          -webkit-transition: all .2s ease-in-out;
          -ms-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out; }
        footer.site-footer .footer-nav-menu ul li a:after {
          left: -10px;
          opacity: 0; }
        footer.site-footer .footer-nav-menu ul li a:hover:after {
          left: 0px;
          opacity: 1; }
        footer.site-footer .footer-nav-menu ul li a:hover:before {
          left: 10px;
          opacity: 0; }
      footer.site-footer .footer-nav-menu ul li:hover a {
        color: #04d39f; }
  footer.site-footer .pgs-contact-widget ul li {
    line-height: inherit; }
    footer.site-footer .pgs-contact-widget ul li i {
      display: table-cell;
      padding-right: 10px;
      min-width: 24px;
      color: #04d39f; }
    footer.site-footer .pgs-contact-widget ul li span {
      display: table-cell; }
  footer.site-footer .pgs-text-widget .footer-title {
    margin-bottom: 25px;
    text-transform: capitalize; }
  footer.site-footer .pgs-newsletter-widget .newsletter_form {
    position: relative; }
    footer.site-footer .pgs-newsletter-widget .newsletter_form .newsletter-email {
      margin-bottom: 0;
      padding-right: 55px;
      color: #323232;
      border: 1px solid rgba(0, 0, 0, 0.1);
      background: #fff;
      width: 100%;
      padding: 0 15px;
      height: 46px;
      background: #fff;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      font-size: 14px; }
      footer.site-footer .pgs-newsletter-widget .newsletter_form .newsletter-email:focus {
        border-color: #04d39f; }
    footer.site-footer .pgs-newsletter-widget .newsletter_form .button-area .input-group-btn > .btn {
      width: 43px;
      height: 46px;
      position: absolute;
      font-size: 0;
      top: 0;
      right: 0;
      padding: 0;
      line-height: 46px;
      background: #04d39f;
      color: #fff;
      border-radius: 0 2px 2px 0;
      overflow: hidden; }
      footer.site-footer .pgs-newsletter-widget .newsletter_form .button-area .input-group-btn > .btn:focus {
        box-shadow: none;
        outline: none; }
      footer.site-footer .pgs-newsletter-widget .newsletter_form .button-area .input-group-btn > .btn:before {
        content: "\f1d9";
        font-family: FontAwesome;
        font-size: 14px; }
  footer.site-footer .pgs-opening-widget .pgs-opening-hours ul li {
    list-style-type: none;
    color: #969696;
    margin: 3px 0; }
    footer.site-footer .pgs-opening-widget .pgs-opening-hours ul li i {
      margin-right: 8px;
      color: #04d39f; }
    footer.site-footer .pgs-opening-widget .pgs-opening-hours ul li span {
      font-weight: 600;
      width: 120px;
      display: inline-block; }
    footer.site-footer .pgs-opening-widget .pgs-opening-hours ul li label {
      margin-bottom: 0; }
  footer.site-footer .pgs-instagram-widget .pgs-instgram-widget .instgram-item {
    width: 29%;
    margin-top: 10px;
    margin-right: 10px;
    float: left; }
    footer.site-footer .pgs-instagram-widget .pgs-instgram-widget .instgram-item:nth-child(-n+3) {
      margin-top: 0; }
  footer.site-footer .pgs-gallery-widget .pgs-gallery {
    display: inline-block;
    width: 100%; }
    footer.site-footer .pgs-gallery-widget .pgs-gallery .gallery-item {
      border: 1px solid #ddd;
      margin-right: 4%;
      margin-bottom: 4%;
      border-radius: 3px;
      width: 29%;
      float: left; }
      footer.site-footer .pgs-gallery-widget .pgs-gallery .gallery-item img {
        margin-bottom: 0;
        border-radius: 3px; }
  footer.site-footer .pgs-recent-entries .recent-post {
    border-bottom: none;
    margin-bottom: 15px;
    padding-bottom: 0;
    display: table;
    width: 100%; }
    footer.site-footer .pgs-recent-entries .recent-post .recent-post-image {
      width: 65px;
      display: table-cell;
      vertical-align: middle;
      padding-right: 12px; }
    footer.site-footer .pgs-recent-entries .recent-post .recent-post-info {
      display: table-cell;
      vertical-align: middle; }
      footer.site-footer .pgs-recent-entries .recent-post .recent-post-info a {
        font-size: 14px;
        font-weight: 500;
        color: #323232;
        line-height: 20px;
        margin-bottom: 3px;
        display: inline-block;
        -ms-word-wrap: break-word;
        word-wrap: break-word; }
      footer.site-footer .pgs-recent-entries .recent-post .recent-post-info .post-date {
        display: block;
        font-size: 12px; }
        footer.site-footer .pgs-recent-entries .recent-post .recent-post-info .post-date i {
          margin-right: 7px;
          color: #04d39f; }
  footer.site-footer .pgs-apps-store .apps-store-img .apps-store-item {
    margin-bottom: 3px;
    margin-right: 3px;
    display: inline-block; }
  footer.site-footer .pgs-apps-store.img-width img {
    width: 140px; }
  footer.site-footer .pgs-products .product-list-widget li {
    padding: 10px 0; }
    footer.site-footer .pgs-products .product-list-widget li a {
      font-weight: 500;
      color: #323232;
      font-size: 13px; }
      footer.site-footer .pgs-products .product-list-widget li a .media img {
        margin-right: 15px;
        margin-left: 0;
        width: 60px; }
      footer.site-footer .pgs-products .product-list-widget li a .media .amount {
        color: #04d39f;
        font-weight: 600;
        font-size: 14px;
        margin-right: 5px; }
      footer.site-footer .pgs-products .product-list-widget li a .media del .amount {
        color: #969696;
        font-weight: 600;
        font-size: 14px;
        margin-right: 5px; }
        footer.site-footer .pgs-products .product-list-widget li a .media del .amount:hover {
          color: #969696; }
      footer.site-footer .pgs-products .product-list-widget li a:hover del {
        color: #969696; }
  footer.site-footer .pgs-menu-footer .list-inline {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    footer.site-footer .pgs-menu-footer .list-inline li {
      display: inline;
      margin: 3px 5px; }
      footer.site-footer .pgs-menu-footer .list-inline li:first-child {
        margin-left: 0; }
      footer.site-footer .pgs-menu-footer .list-inline li a {
        color: #969696; }
        footer.site-footer .pgs-menu-footer .list-inline li a:hover {
          color: #04d39f; }
  footer.site-footer .footer-bottom-wrapper .footer-bottom {
    padding-bottom: 40px;
    padding-top: 40px;
    border-top: 1px solid rgba(142, 142, 142, 0.2); }
    footer.site-footer .footer-bottom-wrapper .footer-bottom .pgs-social-profiles {
      margin-bottom: 20px; }
      footer.site-footer .footer-bottom-wrapper .footer-bottom .pgs-social-profiles .social-profiles ul li a i {
        background-color: transparent;
        border: none;
        width: auto;
        height: auto; }
      footer.site-footer .footer-bottom-wrapper .footer-bottom .pgs-social-profiles .social-profiles ul li a:hover i {
        background-color: none;
        border: none;
        color: #04d39f; }
    footer.site-footer .footer-bottom-wrapper .footer-bottom .call h4 {
      padding-left: 15px;
      font-weight: bold;
      color: #04d39f;
      display: inline-block;
      margin-bottom: 0; }
    footer.site-footer .footer-bottom-wrapper .footer-bottom h5 {
      display: inline-block;
      margin-bottom: 0; }
    footer.site-footer .footer-bottom-wrapper .footer-bottom .apps-store-img {
      margin-bottom: 3px;
      margin-right: 3px;
      display: inline-block; }
    footer.site-footer .footer-bottom-wrapper .footer-bottom .pgs-newsletter-widget .newsletter_form {
      position: relative; }
      footer.site-footer .footer-bottom-wrapper .footer-bottom .pgs-newsletter-widget .newsletter_form .button-area .input-group-btn > .btn.submit {
        width: auto;
        background: none;
        padding: 0 15px;
        padding-left: 25px;
        font-size: 13px;
        font-weight: 600;
        line-height: 46px;
        color: #323232;
        text-transform: uppercase;
        -webkit-border-radius: 0 50px 50px 0;
        -moz-border-radius: 0 50px 50px 0;
        border-radius: 0 50px 50px 0; }
      footer.site-footer .footer-bottom-wrapper .footer-bottom .pgs-newsletter-widget .newsletter_form .button-area .input-group-btn > .btn:before {
        margin-right: 14px; }
      footer.site-footer .footer-bottom-wrapper .footer-bottom .pgs-newsletter-widget .newsletter_form .button-area .input-group-btn > .btn:hover {
        color: #fff; }
  footer.site-footer .site-info {
    background: whitesmoke;
    padding: 25px 0; }
    footer.site-footer .site-info .footer-widget p {
      margin-bottom: 0;
      color: #969696; }
      footer.site-footer .site-info .footer-widget p a {
        color: #969696; }
        footer.site-footer .site-info .footer-widget p a:hover {
          color: #04d39f; }
  footer.site-footer .product-tag-cloud .tagcloud a {
    background: 0 0;
    color: #969696;
    margin-bottom: 8px;
    margin-right: 4px;
    display: inline-block;
    border: 1px solid #f2f2f2;
    line-height: 28px;
    padding: 0 12px;
    text-transform: uppercase;
    border-radius: 2px; }
    footer.site-footer .product-tag-cloud .tagcloud a:hover, footer.site-footer .product-tag-cloud .tagcloud a:focus {
      background: #04d39f;
      color: #fff;
      border-color: #04d39f; }
    footer.site-footer .product-tag-cloud .tagcloud a.tag-cloud-link {
      border: 1px solid rgba(150, 150, 150, 0.25);
      padding: 0 17px;
      font-size: 13px !important; }
  footer.site-footer .footer-align-left {
    text-align: left; }
  footer.site-footer .footer-align-center {
    text-align: center; }
    footer.site-footer .footer-align-center .footer-nav-menu ul li a {
      padding-left: 0; }
      footer.site-footer .footer-align-center .footer-nav-menu ul li a:before, footer.site-footer .footer-align-center .footer-nav-menu ul li a:after {
        content: ""; }
    footer.site-footer .footer-align-center .pgs-contact-widget ul li i {
      display: inline-block; }
    footer.site-footer .footer-align-center .pgs-contact-widget ul li span {
      display: inline-block; }
  footer.site-footer .footer-align-right {
    text-align: right; }

/********************************
    footer-style-2
********************************/
footer.site-footer.footer-style-2 .footer-widgets {
  text-align: center; }

footer.site-footer.footer-style-2 .footer-nav-menu ul li {
  padding: 0 10px;
  display: inline-block; }

footer.site-footer.footer-style-2 .footer-widgets-wrapper {
  padding: 30px 0 50px; }

/*--------------------  Revolution Start  -------------------*/
#rev_slider_1_1[data-slideactive="rs-1"] .metis.tparrows {
  background: rgba(255, 255, 255, 0.4) !important;
  padding: 8px !important; }

#rev_slider_1_1[data-slideactive="rs-1"] .metis.tparrows:before {
  color: white !important; }

#rev_slider_1_1[data-slideactive="rs-1"] .metis.tparrows:hover {
  background: rgba(50, 50, 50, 0.4) !important; }

#rev_slider_1_1[data-slideactive="rs-2"] .metis.tparrows {
  background: rgba(255, 255, 255, 0.4) !important;
  padding: 8px !important; }

#rev_slider_1_1[data-slideactive="rs-2"] .metis.tparrows:before {
  color: white !important; }

#rev_slider_1_1[data-slideactive="rs-2"] .metis.tparrows:hover {
  background: rgba(50, 50, 50, 0.4) !important; }

/*--------------------  Categoru Slider Start  -------------------*/
.ciyashop_banner .ciyashop_banner-content .ciyashop_banner-content-inner-wrapper .ciyashop_banner-text-wrap-1 .ciyashop_banner-text {
  font-size: 18px;
  color: #ffffff; }

.ciyashop_banner .ciyashop_banner-content.ciyashop_banner-content-vbottom .ciyashop_banner-content-inner-wrapper .ciyashop_banner-text-wrap-2 .ciyashop_banner-text {
  font-size: 38px;
  font-weight: inherit;
  text-transform: uppercase;
  color: #ffffff; }

.ciyashop_banner .ciyashop_banner-content-inner-wrapper {
  font-size: 70px; }

.ciyashop_banner .ciyashop_banner-content-vmiddle .ciyashop_banner-content-inner-wrapper {
  padding-left: 7% !important;
  padding-right: 30% !important; }

.banner-overlay {
  background: rgba(12, 12, 12, 0.2);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9; }

.ciyashop_banner .ciyashop_banner-content .ciyashop_banner-content-inner-wrapper .ciyashop_banner-text-wrap-1 .ciyashop_banner-text.tag-text {
  font-size: 0.2em;
  color: #323232;
  background-color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
  padding: 7px 15px;
  margin-bottom: 5px; }

.ciyashop_banner .ciyashop_banner-content .ciyashop_banner-content-inner-wrapper .ciyashop_banner-text-wrap-2 .ciyashop_banner-text {
  font-size: 0.45em;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.3em;
  font-weight: 700; }

/*--------------------  Nav Tabs Start  -------------------*/
.nav {
  margin-bottom: 30px; }

.nav-item a.nav-link {
  color: #323232;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px; }

.nav-item a.nav-link:hover {
  color: #04d39f; }

/*--------------------  List Product slider Start  -------------------*/
.product-deals-items-column .product-deals-item {
  margin-bottom: 0px;
  border: 0px solid;
  min-height: 100px; }

.product-deals-items-column .product-deals-item .product-deals-item-right {
  padding: 10px 10px 10px 20px;
  text-align: left;
  color: #777777;
  font-weight: 500; }

.product-deals-items-column .product-deals-item .product-deals-item-left {
  width: auto; }

.product-deal-image {
  width: 70px; }

.product-deals-items-column .product-deals-item .product-deals-item-right .product-deal-content .product-deal-title {
  color: #323232;
  font-size: 15px;
  font-weight: 500; }

.product-deals-items-column .product-deals-item .product-deals-item-right .product-deal-content .product-deal-content-price ins {
  color: #04d39f;
  font-size: 15px;
  font-weight: 500; }

.product-multi-item-title h4 {
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e8ebf1;
  text-align: left; }

/*--------------------  service bar Start  -------------------*/
.service-icons-bar {
  padding-top: 30px;
  background-color: #04d39f;
  padding-bottom: 30px; }

.ciyashop_info_box_2.ciyashop_info_box_2-icon-shape-round .ciyashop_info_box_2-icon-inner {
  height: 70px;
  line-height: 70px;
  width: 70px; }

.ciyashop_info_box_2-icon-style-default .ciyashop_info_box_2-icon-inner i {
  color: #fff; }

.ciyashop_info_box_2 .ciyashop_info_box_2-title {
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 600; }

.ciyashop_info_box_2 .ciyashop_info_box_2-content-inner {
  padding-left: 20px; }

.ciyashop_info_box_2 .ciyashop_info_box_2-content p {
  margin-bottom: 0;
  line-height: 22px;
  color: #ffffff;
  padding-top: 0px; }
